<header>
  <div class="row">

    <div class="columns large-4 small-10 header-left">
      <a href="#" id="auth-lnk">Bernat Ferragut</a>
      <p class="subtxt">Visual Designer / Front End Developer</p>
    </div>

    <div class="columns large-8 small-2 header-left">
      <img src="assets/images/menu.svg" id="menu" (click)="toggle()">
      <ul [ngClass]="{show: opened, animMenu: opened}">
        <li id="exit"><img src="assets/images/close.svg" (click)="toggle()"></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

  </div>
</header>

<!--ROUTER-->
<router-outlet></router-outlet>